%p{:style => "color: green"}= notice
%h1 Payments
#payments
  - @payments.each do |payment|
    = render payment
    %p
      = link_to "Show this payment", payment
= link_to "New payment", new_payment_path
