#footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: rgba(216,216,216,.7);
  padding: 3em;
  margin-top:2em;

  h4 {
    font-size: 1em;
    font-weight: bold;
    color: white;
  }
  .footer-link {
    padding-top: 8px;
  }
  li, li > * {
    // #4F576C
    color: inherit;
    font-size: 1.3rem;
  }
  a {
    &:hover {
      color: white;
    }
  }
  .btn {
    color: #DEDEDE;
    display: list-item;
    margin: 10px
  }
  li.btn {
    background-color: #2AB15E;
  }
  li#i18n-btn {
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 0;
    a {
      padding: 6px 12px;
      display: block;
    }
  }
  img {
    margin: 5px
  }
  .col-md-2 {
      @media (max-width: 767px) {
      text-align: center;
    }
  }
  #somerow {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  // #mailrow {
  //   margin: 0;
  //   padding: 0;
  //   background-color: #F9FBFA;
  //   color: black;
  //   padding-top: 8px;
  //   padding-bottom: 8px;
  // }
  .col-centered{
    float: none;
    margin: 0 auto;
  }
  .dropdown-menu ,  .dropdown-menu a:hover{
    background-color: black;
  }
}
#mailfooter {
  margin: 0;
  padding: 0;
  background-color: #F9FBFA;
  color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
}
