#new-autentication-modal {
  .modal-dialog {
    max-width: 500px;
  }
  .modal-header {
    border-bottom: none;
    float: right;
  }
  .modal-body {
    text-align: center;
    h3 {
      font-size: 1.6em;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 1.5em;
    }
    form {
      max-width: 25em;
      margin: auto;
    }
    .form-group {
      display: block;
      margin-bottom: 1em;

      input {
        height: 44px;
        border: none;
        border-radius: 4px;
        box-shadow: -1px 4px 23px -1px rgba(0, 0, 0, 0.13);
      }
    }
    input[type='submit'] {
      display: block;
      background-color: #1481F8;
      color: white;
      padding: 12px 10px;
      width: 100%;
      text-transform: capitalize;
      letter-spacing: 1px;
      font-weight: normal;
      font-size: 1.2em;
      margin-bottom: 1.5em;
    }
    .other-option {
      font-size: 1.3em;
      margin-bottom: 1em;
      color: gray;
      a {
        text-decoration: underline;
      }
      @media(max-width: 768px){
        font-size: 1em;
      }
    }
  }
}
